.container {
  width: 100%;
  display: flex;
  font-size: 24px;
  gap: 4px;

  // для выравнивания по высоте при наличии правой колонки
  .wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
