/* блок ингредиенты */
.ingredients_container {
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid var(--input-stroke);
  padding: 0px 0px 0 20px;
  display: flex;
  width: 100%;
  }
  .column_container{
    max-width: 350px;
    width: 100%;
  }
  .ingredients {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .inner_descriptionIngredients {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    
  }
  
  .name {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    // min-width: 250px;
    margin: 20px 12px 20px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .unit,
  .amount {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    // min-width: 225px;
    margin: 20px 12px 20px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .columnName{
    padding-bottom: 20px;
    color: #7DA78A;
    font-size: 18px;
    font-weight: 500;
  }
  .ingredientsButton {
    border-radius: 20px;
    width: 35px;
    padding: 1px 5px 5px 5px;
    background-color: var(--primary-color);
    border: none;
    color: var(--base-color);
    font-size: 25px;
    margin-bottom: 48px;
    cursor: pointer;
    &:hover {
      background: var(--button-hover);
    }
    &:active {
      background: var(--button-press);
    }
  }
  .line{
    border: 1px solid #7DA78A;
  }
  .lineAmount{
    width: 179px;
    border: 1px solid #7DA78A;
  }

.component_container{
  border-radius: 12px;
	border: 1px solid var(--input-stroke);
  padding: 20px 0px 0 20px;
}

.cockingTime {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }
.fromInput{
    max-width: 225px;
    // margin-bottom: 80px;
	// border-radius: 12px;
	// border: 1px solid var(--input-stroke);
	outline: none;
	// padding: 12px 14px;
	transition: all 0.3s ease-in-out;
	// width: 100%;
	color: var(--base-color-dark);

	&:focus {
		border: 1px solid var(--base-color-dark);
		color: var(--base-color-dark);
	}
}  