.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем относительно окна */
  background-color: white;
  z-index: 9999;
  max-width: 602px;
  padding: 64px 96px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  a {
    width: 139px;
    height: 40px;
  }

  .inner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    width: 410px;

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: var(--button-default);
    }
    p {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
