.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  gap: 24px;
  padding: 0 16px;

  .wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    pre {
      display: block;
      font-size: 10pt;
    }
  }
}

.wrongSlug {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: red;
  gap: 24px;

  button {
    position: unset;
  }
}
/* кнопка добавть фотодля превью */
.button_container {
  max-width: 260px;
  margin-bottom: 48px;
}
/* */
/* стандартный инпут */
.errorMessage{
  color: var(--input-invalid);
    text-align: left;
    font-size: 20px;
}
.titleInput>div>input{
  border: none;
  width: 100%;
  height: 50px;
  font-size: 42px;
  font-weight: 600;
  // margin-bottom: 48px;
  padding: 0;
}
.standardInput::placeholder {
  color: var(--button-disabled);
  font-size: 42px;
  font-weight: 600;
}
.standardInput:focus {
  outline-width: 0;
}

.photo_and_title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* */
/* блок время приготовления */
.cockingTime_container {
  margin-bottom: 48px; 
}
.cockingTime {
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 24px 0;
}
.hourPlusMinutes {
  display: flex;
  flex-direction: row;
}
.hours {
  width: 142px;
  margin-right: 12px;
  input{
    font-size: 14px;
    font-weight: 400;
    height: 34px;
    background-color: white;
  }
}
.displayNone{
  display: none;
}
.minutes {
  width: 142px;
  input{
    height: 34px;
    background-color: white;
  }
  p{
    width: 500px;
  }
}
/* */

/* блок ингредиенты */
.ingredients_container {
  width: 774px;
  // width: 100%;
  margin-bottom: 48px;
}
.ingredients {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.inner_descriptionIngredients {
  display: flex;
  flex-direction: column;
}
.ingredientFields{
  display: flex;
  flex-flow: row;
}
.name {
  min-width: 300px;
  margin-right: 12px;
  p{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 12px 10px 0;
  }
}
.unit,
.amount {
  min-width: 142px;
  margin-right: 12px;
  p{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 12px 10px 0;
  }
}

.ingredientsButtonWrapper{
  margin-top: 50px;
}
.ingredientsButton {
  border-radius: 20px;
  width: 35px;
  padding: 1px 5px 5px 5px;
  background-color: var(--primary-color);
  border: none;
  color: var(--base-color);
  font-size: 25px;
  margin-bottom: 48px;
  cursor: pointer;
  &:hover {
    background: var(--button-hover);
  }
  &:active {
    background: var(--button-press);
  }
}

/* */

/* cocking */
.cocking_container {
  margin-bottom: 48px;
}
.cocking {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.hours input{
  width: 142px;
  border-radius: 12px;
  color: var(--base-color-dark);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--input-stroke);
  padding: 12px 14px;
}
.full_text {
  position: relative;
  min-height: 240px;
  border-radius: 12px;
  color: var(--base-color-dark);
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid var(--input-stroke);
  padding: 24px 16px;
  // textarea{
  //   border: none !important;
  // }
}
.textArea {
  // div input{
    // height: 200px;
    border: none;
    // border: 0px solid;
    min-height: 170px;
  resize: vertical; /* Можете использовать 'both', 'none', или 'horizontal', если хотите ограничить изменение размера */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  // border: 0;
  padding: 10px; /* Добавляем внутренние отступы для удобства ввода */
  // &:hover {
  //   border: 0px solid var(--base-color-dark);
  // }
  // &:focus {
  //   border: 0px solid var(--base-color-dark);
  // }
  // }
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.cockingButton {
  border-radius: 20px;
  width: 35px;
  padding: 1px 5px 5px 5px;
  background-color: var(--primary-color);
  border: none;
  color: var(--base-color);
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 16px;
  z-index: 1;
  &:active {
    background: var(--button-press);
  }
  &:hover {
    background: var(--button-hover);
  }
}
.mediaIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  width: 94px;
  height: 42px;
  background-color: var(--primary-color);
  bottom: 29px;
  left: 60px;
  border-radius: 12px;
  z-index: 0;
  &::after {
    content: '';
    position: absolute;
    left: -26px;
    bottom: 1px;
    border: 20px solid transparent;
    border-right: 20px solid var(--primary-color);
    z-index: -1;
  }
  img {
    cursor: pointer;
  }
}
/* */

/* блок для категорий */
.category_container {
  margin-bottom: 48px;
}
.category {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;

}
.category_input {
  // max-width: 225px;
  width: 100%;
}
/**/

/*блок для Хэштегов */
.tag_container {
  margin-bottom: 48px;
}
.tag {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.tag_input {
  width: 100%;
}
/**/

.required {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 80px;
}
.containerButton{
  display: flex;
  justify-content: space-between;
}
.buttonOnsubmit {
  padding: 10px;
}
