.recipe {
    display: flex;
    flex-direction: column;
    gap: 24px;
  
    border-radius: 12px;
    border: 1px solid #6c8777;
    padding: 16px;
    width: 100%;
  
    button {
      cursor: pointer;
    }
  
    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 16px;
  
      > button {
        border: none;
        outline: none;
        background: transparent;
        padding: 0;
      }
    }
  }