.topAuthor {
  margin-top: 48px;

  h2 {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 600;
  }

  .authors {
    display: flex;
    flex-direction: column;
    gap: 0;

    > div:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
