.scroll {
  /* высота экрана за вычетом шапки и глобальных отступов */
  height: calc(100vh - var(--headbar-height) - 2 * var(--global-padding));
  overflow-y: scroll;
}

.scroll__thin {
  /* габариты */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* фон */
  &::-webkit-scrollbar-track {
    width: 1px;
    background: #f3f3f3;
    border: none;
    border-radius: 8px;
  }

  /* центральный подвижный элемент */
  &::-webkit-scrollbar-thumb {
    background-color: #6c8777;
    border-radius: 8px;
  }

  /* самый нижний слой - для фона под скругленными углами */
  &::-webkit-scrollbar {
    background-color: inherit;
  }

  /* кнопки на концах скролов */
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
}

.scroll--left {
  /* 2 варианта реализовать скролбар слева: 2 раза переворачивать все, либо 2 раза "зеркалить" */
  /* transform: rotateY(180deg); */
  direction: rtl;
  & > div {
    /* transform: rotateY(-180deg); */
    direction: ltr;
  }
}
