.badgeContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.badgeCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
  background-color: #ffb7b7;
  color: #df0000;
  border-radius: 100px;
  padding: 2px 3px;
  font-size: 6px;
  font-weight: bold;
}
