.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--base-color-dark);
}

.subscriptions_textContent {
  position: relative;
  width: 84%;

  .subscriptions_topText {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;

    h3 {
      font-size: 18px;
      margin-right: 12px;
      color: var(--base-color-dark);
    }

    span {
      font-size: 16px;
      margin-top: 2px;
      color: var(--primary-color);
    }
  }

  .subscriptions_verticalEllipsis {
    position: absolute;
    right: 0;
    top: 0;
    left: 108%;
    color: var(--primary-color);
  }

  p {
    font-size: 18px;
    margin-top: 4px;
    color: #000;
  }
}
