.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 36px;

  .inputContainer {
    height: 50px;
    width: 313px;
    position: relative;

    input {
      height: 100%;
      width: 100%;
      padding: 0 52px 0 24px;
      border-radius: 12px;
      border: 1px solid var(--base-color-dark);
      font-size: 16px;
    }

    .inputImg {
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translate(0, -50%);
    }
  }

  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
