.dataTitle {
  font-size: 2rem;
  color: var(--base-color-dark);
  margin-bottom: 48px;
}

.dataContainer {
  width: 667px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid var(--primary-color);

  .dataTopContent {
    display: flex;
    flex-direction: column;
    width: 235px;
    margin-bottom: 48px;
  }

  .datasContentTitle {
    line-height: 22px;
    color: var(--base-color-dark);
    margin-bottom: 24px;
  }

  .dataContentText {
    font-size: 22px;
    line-height: 22px;
    color: #7c7c7c;
  }

  .dataBottomContent {
    display: flex;
    flex-direction: column;
    width: 619px;
  }

  .dataTextBox:not(:last-child) {
    margin-bottom: 36px;
  }

  .dataTextBox {
    position: relative;
    display: flex;
  }

  .dataBottomContent:not(:last-child) {
    margin-bottom: 36px;
  }

  .dataIcon {
    margin-right: 16px;
  }

  .dataBottomTextContent {
    display: flex;
    flex-direction: column;
  }

  .bottomTitle {
    font-size: 24px;
    color: var(--base-color-dark);
    margin: -8px 0 14px 0;
  }

  .bottomTitleYa {
    font-size: 24px;
    color: var(--base-color-dark);
    margin-top: 5px;
  }

  .bottomText {
    font-size: 18px;
    color: #7c7c7c;
  }

  .dataSpanText {
    position: absolute;
    right: 0;
    font-size: 22px;
    color: var(--primary-color-light);
  }
}
