.actions{
  display: flex;
  justify-content: space-between;
}
.footer {
  // container: footer / inline-size;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .footerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 18px;
      gap: 8px;
    }
  } 

  // правила для рецептов в режиме 3х колонок
  // @container footer (width < 600px) {
  //   div:first-child {
  //     gap: 12px;
  //   }
  // }
}

.linkForRecipe{
  display: flex;
  flex-flow: column;
  font-size: 18px;
  font-weight: 500;
  max-width: 250px;
  // height: 30px;
  // padding: 12px 14px;
  // border: 3px solid #000;
  // border-radius: 12px;
  // background-image: url('../../../../../public/img/recipe-card/formForButton.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
// outline: none;
  // position: absolute;
  // right: 40px;
  // z-index: 10;

}
.containerButton{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 50px;
}
.containerButton:hover{
  cursor: pointer;
}

