.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 24px;
}

.error {
  border-radius: 16px;
  border: 10px solid #4bc185;
  text-align: center;
  padding: 128px;
  width: 100%;
  max-width: 863px;
}

.title_text {
  font-size: 184px;
  background: linear-gradient(129.67deg, #273526 22.89%, #4bc185 64.07%);
  color: transparent;
  background-clip: text;
  margin-bottom: 48px;
}

.full_text {
  font-size: 26px;
  font-weight: 600;
  color: #273526;
  margin-bottom: 80px;
}

.LinkLikeButton:hover {
  background: var(--button-hover);
  color: #fff;
}

.LinkLikeButton:active {
  background: var(--button-press);
  color: #fff;
}

.like_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
