.container {
  width: 863px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  padding: 119px;
  border: 10px solid var(--primary-color-light);
  gap: 10px;

  .errorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .errorTextContent {
    display: flex;
    flex-direction: column;
    width: 607px;
  }

  .errorTitle {
    font-size: 184px;
    font-weight: 700;
    margin-bottom: 50px;
    background: linear-gradient(
      129.67deg,
      var(--primary-color-darker) 22.89%,
      var(--primary-color-light) 64.07%
    );
    color: transparent;
    background-clip: text;
  }

  .errorDescr {
    font-size: 26px;
    font-weight: 600;
  }

  .errorLinkButton {
    padding-top: 80px;
  }

  a {
    width: 139px;
    height: 40px;
    padding: 14px 24px;
  }
}
