.container {
  container: header / inline-size;
  display: flex;
  flex-flow: column;
  gap: 24px;

  // .userWrapper {
  //   display: flex;
  //   justify-content: space-between;

  .user {
    p {
      font-size: 22px;
      font-weight: 500;
    }
    height: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
  }

  .timeAndMenu {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
